<h1 style="text-align: center ;">Sign up</h1>
<div class="form">
    <input type="Full name" name="Full name"  placeholder="Full name">                      
    <input type="username" name="username" placeholder="username" />
       
      <input type="Password" name="Password" placeholder="Password" />
      <input type="Password" name="Password confirm" placeholder="Password confirm">
      <h4>Date of birth</h4>
       <input type="date" name="Date of birth" placeholder="Date of birth">
      <button routerLink="/login" >Create</button>
       
    
       
    
    </div> 
     <!-- <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p> -->
     <div style="display: flex; justify-content: center;">
        <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p>
     </div>
