<h1 style="text-align: center;">Log in</h1>
<div class="form">
                             
  <input type="username" name="username" placeholder="username" />
     
    <input type="password" name="Password" placeholder="Password" />
  
    <button >Log in</button>
     
  
     
  
  </div> 
  <!-- <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p> -->
  <div style="display: flex; justify-content: center;">
    <p class="message">Have a problem? <a href="https://www.itss.edu.vn/">Contact us</a></p>
 </div>

  