
<router-outlet></router-outlet>




<router-outlet></router-outlet>

<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <nb-layout>
      <nb-layout-header>
          Icon PlaceHolder
          <div class = "button-actions">
            <app-create-folder-dialog></app-create-folder-dialog>
            <app-rename-folder-dialog></app-rename-folder-dialog>
          </div>
      </nb-layout-header>
    
      <nb-layout-column class="colored-column-basic">
        <nb-card>
          <nb-card-body>
            <nb-route-tabset [tabs]="tabs" fullWidth></nb-route-tabset>
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
      
      <nb-layout-footer>
          Contact us
      </nb-layout-footer>
    </nb-layout>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>
s

</nb-layout>

