img{
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10px;
}

.parent{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

button{
    position: relative;
}